# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Models
*.pt
*.pth
*.onnx
*.h5

# Dataset
dataset/
data/
*.zip
*.mp4
*.csv

# Logs
*.log

# Database
*.db
*.sqlite3

# Env
.env

# Media
*.avi
*.mp4
*.wav
*.mp3

# Uploads
uploads/
backend/temp_uploads/
backend/output_videos/
backend/fall_video/

# Model weights
frontend/model/
*.bin

# Processing files
processing_status.json