numpy
pandas
tensorflow
tensorflow-hub
librosa
soundfile
joblib
fastapi==0.68.2
sqlalchemy
python-jose[cryptography]
pydantic[email]==2.12.5
psycopg2-binary
python-multipart
uvicorn
fastapi-mail==1.6.2 
python-dotenv
requests
PyPDF2
pdfplumber
pdf2image
python-docx
pillow
pytesseract
deepface
python-socketio
google-cloud-texttospeech
google-generativeai
rapidfuzz
faiss-cpu
torch
ultralytics
